<% content_for :title_bar do %>
  <%= link_to t('back'), edit_team_path(current_team), class: "btn btn-primary btn-sm navbar-btn" %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="page-header">
      <h4 class="page-header-title">
        <i class="mi md-20">group</i> <%= t('search user') %>
      </h4>
    </div>
  </div>

<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="add-member panel panel-default card">
    <div class="panel-body">
      <%= form_for :user,
        url: team_associate_user_path(current_team.slug) do |f| %>

        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control auth-form-control', required: true %>
        </div>

        <div class="actions pull-right">
          <%= f.submit t('add'), class: 'btn btn-primary btn-form' %>
        </div>
      <% end %>
    </div>
  </div>
</div>