<% content_for :navbar do %>
  <%= render 'projects/navbar', project: @project %>
<% end %>

<% content_for :title_bar do %>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to @project.name, @project %>
    </li>
  </ul>
<% end %>

<div class="row">
  <% if policy(User).manage? %>
    <div class="col-xs-12">
      <div class="page-header">
        <h4 class="page-header-title">
          <i class="mi md-20">dashboard</i> <%= t('add new member') %>
        </h4>
      </div>
    </div>

    <div class="col-xs-12">

      <div class="add-member panel panel-default card">
        <div class="panel-body">
          <%= form_tag [@project, :memberships] do %>
            <div class="form-group">
              <%= label_tag :email, "Email", class: 'control-label' %>
              <%= email_field_tag :email, "", class: 'form-control auth-form-control', required: true %>
            </div>

            <div class="actions">
              <%= submit_tag 'Add user', class: 'btn btn-primary pull-right' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div id="user_list">
    <%= render 'user_list', project: @project, available_users: @available_users %>
  </div>
</div>
