<% content_for :title_bar do %>
  <% if policy(Project).new? %>
    <%= link_to t('projects.new project'), new_project_path, class: 'btn btn-primary btn-sm navbar-btn', data: {step: "create-project"} %>
  <% end %>
  <% if policy(TagGroup).new? %>
    <%= link_to t('tag_group.tag_groups'), tag_groups_path, class: 'btn btn-success btn-sm navbar-btn' %>
  <% end %>
<% end %>

<div id="projects" class="projects-list">
  <div class="row item">
    <div class="col-md-12">
      <% if @projects[:joined].empty? %>
        <div class="col-md-6">
          <div class="simple-alert">
            <i class="mi alert-icon">error_outline</i>
            <h4 class="text-center">
              <%= t('projects.no_projects_found') %>
            </h4>
          </div>
        </div>
      <% else %>
        <div class="col-md-6 activity" data-step="activity">
          <% if @activities_group.empty? %>
            <div class="simple-alert">
              <i class="mi alert-icon">error_outline</i>
              <h4 class="text-center"><%= t('projects.no_recent_activity') %></h4>
            </div>
          <% else %>
            <ul class="timeline">
              <%= render 'activities_group', activities_group: @activities_group %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div
        id="projects-search"
        class="col-md-6 projects"
        data-current_user="<%= current_user.to_json %>"
        data-admin="<%= policy(User).update? %>"
        data-projects_joined="<%= @projects[:joined].to_json %>"
        data-projects_unjoined="<%= @projects[:unjoined].to_json %>"
      >
        <div class="search-projects" hidden=true>
          <div class="form-group col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="mi md-20 heading-icon">search</i>
              </div>
              <input id="projects_search" class="form-control" placeholder="Search projects">
              <div class="input-group-addon">
                <select id="project_type" class="unstyled-input">
                  <option value="not_archived">Not Archived</option>
                  <option value="archived">Archived</option>
                  <option value="all_projects">All Projects</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 project-list-title">
          <h4><i class="mi md-20 heading-icon">view_module</i> My projects | <%= @projects[:joined].length + @projects[:unjoined].length %></h4>
        </div>
        <%= render @projects[:joined] %>
        <%= render @projects[:unjoined] %>
      </div>
    </div>
  </div>
</div>
