<%= render partial: 'sidebar',
           layout: 'sidebar_wrapper',
           locals: { wrapper_class: 'collapsed' } %>

<% content_for :title_bar do %>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to @project.name, @project %>
    </li>
  </ul>

  <p class="navbar-text velocity" id="velocity" data-step="velocity"></p>

  <% unless current_user.guest? %>
    <button type="button" class="btn btn-primary btn-sm navbar-btn" id="add_story" data-step="add-story">
      <i class="mi md-light md-18 md-add">add</i>
      <%= t('add story') %>
    </button>
  <% end %>
<% end %>

<% content_for :right_menu do %>
  <%= form_tag '#', id: 'form_search', class: 'navbar-form navbar-left navbar-search', html: { role: 'search' } do %>
    <div class="form-group">
      <input type="text" name="q" placeholder="Search" class="form-control input-sm"/>
      <i class="mi md-20 drop-target">help</i>
    </div>
  <% end %>
<% end %>

<% content_for :navbar do %>
  <%= render 'navbar', project: @project %>
<% end %>

<div class="project-stories" id="project-stories" data-current-flow="progress_to_left" data-default-flow="progress_to_left">

  <table class="stories" width="100%">
    <tbody>
      <tr>

        <td data-column-view="done" class="done_column">
          <div class="column_header" data-step="done">
            <a href="#" class="toggle-title" title="Done">Done</a>
            <a href="#" class="toggle-column hide_done" title="Close">×</a>
          </div>
          <div id="done" class="column_content story_column" style="height: 1050.86px;">
            <div class="iteration">1 - Sat Mar 30 2024<span class="points">0</span>
            </div>
            <div class="iteration">2 - Mon Apr 01 2024<span class="points">0</span>
            </div>
            <div id="story-5423" class="story chore accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">1.0</span>


                </span>
              </div>
              <div class="story-title">

                Get CI running javascript tests

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5419" class="story chore accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">2.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Remove compass

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5429" class="story chore accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">3.0</span>


                </span>
              </div>
              <div class="story-title">

                Set up exception notification

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
          </div>
        </td>
        <td data-column-view="in_progress" data-connect="#backlog,#chilly_bin" class="in_progress_column">


          <div class="column_header" data-step="in-progress">
            <a href="#" class="toggle-title" title="Current Sprint">Current Sprint</a>
            <a href="#" class="toggle-column hide_in_progress" title="Close">×</a>
          </div>
          <div id="in_progress" class="column_content story_column ui-sortable" style="height: 1050.86px;">
            <div class="iteration">3 - Mon Apr 08 2024<span class="points">0/0</span>
            </div>
            <div id="story-5415" class="story feature accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">1.0</span>


                </span>
              </div>
              <div class="story-title">

                Stories don't need to be estimated to be unstarted

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5410" class="story feature accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">2.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Remember layout status across pageload

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5418" class="story feature accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">3.0</span>


                </span>
              </div>
              <div class="story-title">

                Add "None" point scale setting

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5428" class="story bug accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">4.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Emails not sending

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5416" class="story feature accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">5.0</span>


                </span>
              </div>
              <div class="story-title">

                Add project setting to disable story tasks

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5430" class="story bug accepted">


              <div class="state-actions">
                <form>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">6.0</span>


                </span>
              </div>
              <div class="story-title">

                Can't drag story to just below last delivered story

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5440" class="story bug started">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition finish" value="finish">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">9.5</span>


                </span>
              </div>
              <div class="story-title">

                Starting a story doesn't recalculate its position

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5433" class="story bug unstarted editing">
              <div data-story-controls="">
                <div class="form-group story-controls">
                  <input class="submit" type="button" value="Save">
                  <input class="destroy" type="button" value="Delete">
                  <input class="cancel" type="button" value="Cancel">
                </div>
              </div>
              <div data-story-history-location="">
                <div class="col-xs-12 form-group input-group input-group-sm">
                  <input class="form-control input-sm" id="story-link-5433" readonly="" value="https://clients.botandrose.com/projects/clients#story-5433">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-clipboard" data-clipboard-target="#story-link-5433" type="button" title="Copy URL">
                      <img src="/clippy.svg" alt="Copy URL" class="clipboard-icon">
                    </button>
                    <button class="btn btn-default btn-clipboard-id btn-clipboard" data-clipboard-text="#5433" type="button" title="Copy ID">ID</button>
                    <button class="btn btn-default toggle-history" title="View history">
                      <i class="mi md-18">history</i>
                    </button>
                    <button class="btn btn-default clone-story" title="Clone story">
                      <i class="mi md-18">content_copy</i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" value="Acceptance emails not delivered?" class="title form-control input-sm" placeholder="Story title" maxlength="255">
              </div>
              <div class="form-group form-inline">
                <div class="form-group" data-story-estimate="">
                  <label for="estimate">Estimate</label>
                  <br>
                  <select name="estimate" class="form-control input-sm story_estimate" disabled="">
                    <option value=""> no estimate </option>
                  </select>
                </div>
                <div class="form-group" data-story-type="">
                  <label for="story_type">Story type</label>
                  <br>
                  <select name="story_type" class="form-control input-sm story_type">
                    <option value="feature"> feature </option>
                    <option value="chore"> chore </option>
                    <option value="bug" selected=""> bug </option>
                    <option value="release"> release </option>
                  </select>
                </div>
                <div class="form-group" data-story-state="">
                  <label for="state">State</label>
                  <br>
                  <select name="state" class="form-control input-sm story_state">
                    <option value="unscheduled"> unscheduled </option>
                    <option value="unstarted" selected=""> unstarted </option>
                    <option value="started"> started </option>
                    <option value="finished"> finished </option>
                    <option value="delivered"> delivered </option>
                    <option value="accepted"> accepted </option>
                    <option value="rejected"> rejected </option>
                  </select>
                </div>
              </div>
              <div class="form-group form-inline">
                <div class="form-group" data-requested-by="">
                  <label for="requested_by">Requested by</label>
                  <br>
                  <select name="requested_by" class="form-control input-sm requested_by_id">
                    <option value=""> --- </option>
                    <option value="2" selected=""> Micah Geisel </option>
                    <option value="3"> Michael Gubitosa </option>
                  </select>
                </div>
                <div class="form-group" data-owned-by="">
                  <label for="owned_by">Owned by</label>
                  <br>
                  <select name="owned_by" class="form-control input-sm owned_by_id">
                    <option value=""> --- </option>
                    <option value="2"> Micah Geisel </option>
                    <option value="3"> Michael Gubitosa </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group" data-tags="">
                  <label for="labels">Labels</label>
                  <br>
                  <input name="labels" class="form-control input-sm labels tagit-hidden-field" value="">
                  <ul class="tagit ui-widget ui-widget-content ui-corner-all">
                    <li class="tagit-new">
                      <input type="text" class="ui-widget-content ui-autocomplete-input" autocomplete="off">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="story-description">
                  <label for="description">Description</label>
                  <br>
                  <input class="edit-description" name="edit-description" type="button" value="Edit">
                </div>
              </div>
              <div data-story-notes="">
                <div class="form-group">
                  <label for="note">Notes</label>
                  <div class="notelist">
                  </div>
                </div>
              </div>
              <div data-story-note-form="">
                <div class="note_form clearfix">
                  <textarea name="note" class="form-control note-textarea">
                  </textarea>
                  <button type="submit" class="add-note btn btn-default btn-xs " disabled="disabled">Add note</button>
                </div>
              </div>
            </div>
            <div id="story-5431" class="story bug unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">8.0</span>


                </span>
              </div>
              <div class="story-title">

                Starting a story moves it even if its already in Current

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5442" class="story bug unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">10.0</span>


                </span>
              </div>
              <div class="story-title">

                Delivering a story doesn't recalculate its position

              </div>
            </div>
            <div id="story-5411" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">11.0</span>


                </span>
              </div>
              <div class="story-title">

                Notes can have attachments

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5424" class="story release unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-release md-16">bookmark</i>



                  <span class="estimate">12.0</span>


                </span>
              </div>
              <div class="story-title">

                Bring Simon on board as beta tester

              </div>
            </div>
            <div id="story-5432" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">13.0</span>


                </span>
              </div>
              <div class="story-title">

                Replying to email should add note

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5438" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">14.0</span>


                </span>
              </div>
              <div class="story-title">

                Rebuild view with Turbo?

              </div>
            </div>
            <div id="story-5417" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">15.0</span>


                </span>
              </div>
              <div class="story-title">

                Move "Add story" button to each column heading

              </div>
            </div>
            <div id="story-5426" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">16.0</span>


                </span>
              </div>
              <div class="story-title">

                Remove "Estimate" dropdown from story form when point scale is set to "None"

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5412" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">17.0</span>


                </span>
              </div>
              <div class="story-title">

                Remove backlog column completely when point scale is set to "None"

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5427" class="story release unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-release md-16">bookmark</i>



                  <span class="estimate">18.0</span>


                </span>
              </div>
              <div class="story-title">

                Move all clients over

              </div>
            </div>
            <div id="story-5425" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">19.0</span>


                </span>
              </div>
              <div class="story-title">

                Remove Finished, Delivered, &amp; Rejected states from Chores

              </div>
            </div>
            <div id="story-5413" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">20.0</span>


                </span>
              </div>
              <div class="story-title">

                Add "Project history" column

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5437" class="story bug unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">21.0</span>


                </span>
              </div>
              <div class="story-title">

                Tagging self doesn't send self email

              </div>
            </div>
            <div id="story-5441" class="story feature unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">22.0</span>


                </span>
              </div>
              <div class="story-title">

                Add "default requester" to project settings

              </div>
            </div>
            <div id="story-5439" class="story bug unstarted">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">23.0</span>


                </span>
              </div>
              <div class="story-title">

                bard data --from local --to production doesn't actually do the thing?

              </div>
            </div>
          </div>
        </td>
        <td data-column-view="backlog" data-connect="#chilly_bin,#in_progress" class="backlog_column">


          <div class="column_header" data-step="backlog">
            <a href="#" class="toggle-title" title="Backlog">Backlog</a>
            <a href="#" class="toggle-column hide_backlog" title="Close">×</a>
          </div>
          <div id="backlog" class="column_content story_column ui-sortable" style="height: 1050.86px;">
            <div class="iteration">4 - Mon Apr 15 2024<span class="points">0</span>
            </div>
          </div>
        </td>
        <td data-column-view="chilly_bin" data-connect="#backlog,#in_progress" class="chilly_bin_column">


          <div class="column_header" data-step="chilly-bin">
            <a href="#" class="toggle-title" title="Chilly Bin">Chilly Bin</a>
            <a href="#" class="toggle-column hide_chilly_bin" title="Close">×</a>
          </div>
          <div id="chilly_bin" class="column_content story_column ui-sortable" style="height: 1050.86px;">
            <div class="story feature unscheduled editing">
              <div data-story-controls="">
                <div class="form-group story-controls">
                  <input class="submit" type="button" value="Save">
                  <input class="destroy" type="button" value="Delete">
                  <input class="cancel" type="button" value="Cancel">
                </div>
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="title form-control input-sm" placeholder="Story title" maxlength="255">
              </div>
              <div class="form-group form-inline">
                <div class="form-group" data-story-estimate="">
                  <label for="estimate">Estimate</label>
                  <br>
                  <select name="estimate" class="form-control input-sm story_estimate" disabled="">
                    <option value=""> no estimate </option>
                  </select>
                </div>
                <div class="form-group" data-story-type="">
                  <label for="story_type">Story type</label>
                  <br>
                  <select name="story_type" class="form-control input-sm story_type">
                    <option value="feature" selected=""> feature </option>
                    <option value="chore"> chore </option>
                    <option value="bug"> bug </option>
                    <option value="release"> release </option>
                  </select>
                </div>
                <div class="form-group" data-story-state="">
                  <label for="state">State</label>
                  <br>
                  <select name="state" class="form-control input-sm story_state">
                    <option value="unscheduled" selected=""> unscheduled </option>
                    <option value="unstarted"> unstarted </option>
                    <option value="started"> started </option>
                    <option value="finished"> finished </option>
                    <option value="delivered"> delivered </option>
                    <option value="accepted"> accepted </option>
                    <option value="rejected"> rejected </option>
                  </select>
                </div>
              </div>
              <div class="form-group form-inline">
                <div class="form-group" data-requested-by="">
                  <label for="requested_by">Requested by</label>
                  <br>
                  <select name="requested_by" class="form-control input-sm requested_by_id">
                    <option value=""> --- </option>
                    <option value="2"> Micah Geisel </option>
                    <option value="3"> Michael Gubitosa </option>
                  </select>
                </div>
                <div class="form-group" data-owned-by="">
                  <label for="owned_by">Owned by</label>
                  <br>
                  <select name="owned_by" class="form-control input-sm owned_by_id">
                    <option value=""> --- </option>
                    <option value="2"> Micah Geisel </option>
                    <option value="3"> Michael Gubitosa </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group" data-tags="">
                  <label for="labels">Labels</label>
                  <br>
                  <input name="labels" class="form-control input-sm labels tagit-hidden-field" value="">
                  <ul class="tagit ui-widget ui-widget-content ui-corner-all">
                    <li class="tagit-new">
                      <input type="text" class="ui-widget-content ui-autocomplete-input" autocomplete="off">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <div class="story-description">
                  <label for="description">Description</label>
                  <br>
                  <textarea name="description" class="form-control description-textarea">
                  </textarea>
                </div>
              </div>
              <div data-story-notes="">
              </div>
              <div data-story-note-form="">
              </div>
            </div>
            <div id="story-5436" class="story chore unscheduled">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">3.0</span>


                </span>
              </div>
              <div class="story-title">

                test3

              </div>
            </div>
            <div id="story-5435" class="story chore unscheduled">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">2.0</span>


                </span>
              </div>
              <div class="story-title">

                test2

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-5434" class="story chore unscheduled">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">1.0</span>


                </span>
              </div>
              <div class="story-title">

                test

              </div>
            </div>
          </div>
        </td>

        <td style="display: none;" data-column-view="epic" data-connect="#chilly_bin,#in_progress,#backlog" data-hideable="false" class="epic_column">


          <div class="column_header" data-step="epic">
            <a href="#" class="toggle-title" title="Epic">Epic</a>
            <a href="#" class="toggle-column hide_epic" title="Close">×</a>
          </div>
          <div id="epic" class="column_content story_column ui-sortable" style="height: 1050.86px;">
          </div>
        </td>
        <td style="display: none;" data-history-view="" class="history_column">


          <div class="column_header" data-step="history">
            <a href="#" class="toggle-title" title="History Of">History Of</a>
            <a href="#" class="toggle-column hide_history" title="Close">×</a>
          </div>
          <div id="history" class="column_content activity_column" style="height: 1050.86px;">
          </div>
        </td>
        <td style="" data-column-view="search_results" data-connect="#chilly_bin,#in_progress,#backlog" class="search_results_column">


          <div class="column_header" data-step="search-results">
            <a href="#" class="toggle-title" title="Search Results">"owner: Micah Geisel"</a>
            <a href="#" class="toggle-column hide_search_results" title="Close">×</a>
          </div>
          <div id="search_results" class="column_content story_column ui-sortable" style="height: 1050.86px;">
            <div class="iteration">

              Stories found: 17<span class="points">Points: 0</span>
            </div>
            <div id="story-search-result-5415" class="story feature accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">1.0</span>


                </span>
              </div>
              <div class="story-title">

                Stories don't need to be estimated to be unstarted

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5423" class="story chore accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">1.0</span>


                </span>
              </div>
              <div class="story-title">

                Get CI running javascript tests

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5410" class="story feature accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">2.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Remember layout status across pageload

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5419" class="story chore accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">2.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Remove compass

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5435" class="story chore unscheduled searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">2.0</span>


                </span>
              </div>
              <div class="story-title">

                test2

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5418" class="story feature accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">3.0</span>


                </span>
              </div>
              <div class="story-title">

                Add "None" point scale setting

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5429" class="story chore accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-dark md-16">settings</i>



                  <span class="estimate">3.0</span>


                </span>
              </div>
              <div class="story-title">

                Set up exception notification

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5428" class="story bug accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">4.0</span>


                  <i class="mi md-14 md-dark details">question_answer</i>

                </span>
              </div>
              <div class="story-title">

                Emails not sending

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5416" class="story feature accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">5.0</span>


                </span>
              </div>
              <div class="story-title">

                Add project setting to disable story tasks

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5430" class="story bug accepted searchResult">


              <div class="state-actions">
                <form>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">6.0</span>


                </span>
              </div>
              <div class="story-title">

                Can't drag story to just below last delivered story

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5431" class="story bug unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">8.0</span>


                </span>
              </div>
              <div class="story-title">

                Starting a story moves it even if its already in Current

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5440" class="story bug started searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition finish" value="finish">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-bug md-16">bug_report</i>



                  <span class="estimate">9.5</span>


                </span>
              </div>
              <div class="story-title">

                Starting a story doesn't recalculate its position

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5411" class="story feature unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">11.0</span>


                </span>
              </div>
              <div class="story-title">

                Notes can have attachments

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5432" class="story feature unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">13.0</span>


                </span>
              </div>
              <div class="story-title">

                Replying to email should add note

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5426" class="story feature unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">16.0</span>


                </span>
              </div>
              <div class="story-title">

                Remove "Estimate" dropdown from story form when point scale is set to "None"

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5412" class="story feature unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">17.0</span>


                </span>
              </div>
              <div class="story-title">

                Remove backlog column completely when point scale is set to "None"

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
            <div id="story-search-result-5413" class="story feature unstarted searchResult">


              <div class="state-actions">
                <form>

                  <div data-story-state-buttons="">
                    <div class="state-actions">
                      <input type="button" class="transition start" value="start">
                    </div>
                  </div>


                  <button id="locate" type="button" class="btn btn-default locate-btn">
                    <i class="mi md-gps-fixed md-14">gps_fixed</i>
                  </button>

                </form>
              </div>

              <div class="story-icons">

                <span class="popover-activate" data-original-title="" title="">

                  <i class="mi md-star md-16">star</i>



                  <span class="estimate">20.0</span>


                </span>
              </div>
              <div class="story-title">

                Add "Project history" column

                <abbr class="initials" title="Micah Geisel">
                  MG
                </abbr>

              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
