<div class="story-activity">
  <div>
    <%= user %> <strong><%= action %></strong>
    <span class="story-activity-date"><%= date %></span>
  </div>
  <div class="story-activity-info">
    <% _.each(changes, function(change) { %>
      <div class="story-activity-changes">
        <div class="story-activity-change-attribute">
          <strong><%= change.attribute %></strong>
        </div>

        <div class="story-activity-change-history">
          <%= change.oldValue || '---' %>
          <i class="mi md-18">arrow_forward</i>
          <%= change.newValue || '---' %>
        </div>
      </div>
    <% }) %>
  </div>
</div>
