<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <title><%= "#{@project.name} - " if @project %><%= t('cm-central') %></title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_importmap_tags %>
</head>
<body class='<%= "board" if @layout_settings[:fluid] %>'
      data-page='<%= "#{params[:controller]}.#{params[:action]}" %>'
      data-notification-icon-url="<%= asset_url('notification.ico') %>"
      data-favicon-icon-url="<%= asset_url('favicon.ico') %>"
      data-turbo="false">
<div class="click-overlay"></div>
<div class="content-wrapper">
  <%= global_alert %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand navbar-logo">
          <%= image_tag 'logo.png', width: 32, height: 32 %>
        </a>

        <%= yield :title_bar %>

        <div data-portal="velocity" class="navbar-form navbar-left navbar-search"></div>

        <div class="navbar-right">
          <div data-portal="search" class="navbar-form navbar-left navbar-search"></div>

          <%= yield :right_menu %>

          <% if current_user %>
            <% if current_user.projects.count > 1 %>
              <div class="dropdown">
                <button class="btn btn-link projects-dropdown" type="button" onclick="var e = this.nextElementSibling; e.hidden = !e.hidden">
                  Project
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right" hidden="true">
                  <% topbar_projects do |project| %>
                    <li><%= link_to project.name, project %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="dropdown">
              <button class="btn btn-link user-dropdown" type="button" onclick="var e = this.nextElementSibling; e.hidden = !e.hidden">
                <%= current_user.name %>
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right" hidden="true">
                <li>
                  <%= topbar_link t('edit'), edit_user_registration_path %>
                </li>

                <% if current_user %>
                  <li class="divider"></li>

                  <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <%= yield :navbar %>

  <div class="main" id="main">
    <div class="container<%= "-fluid board" if @layout_settings[:fluid] %>">
      <%= render 'flash' %>
      <% if current_staff_user %>
        <%= render 'user_impersonate/header' %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

<div class="loading-spin">
  <div class="spinner">
    <span class="icons-spinner"></span>
  </div>
</div>

<%= render 'shared/cookies_banner' %>

<script>
  window._railsEnv = "<%= Rails.env %>";
</script>
<%= yield :charts_data %>
</body>
</html>
